<section>
  <p>Search: <input ng-model="searchText"></p>
  <article ng-repeat="t in tasks.slice().reverse() | filter:searchText">
    <header>
      <h1>{{t.date | date}} </h1>
      <h2>{{t.tasker.email}}</h2>
    </header>

    <p>{{ t.description }}</p>

    <div class="actions" ng-show="currentUser">
      <button ui-sref="edit-task({ id: t.id })">Edit</button>
      <button a ui-sref="delete-task({ id: t.id })">Delete</button>
    </div>
  </article>
</section>
