<section>
  <form name="form" ng-submit="submitForm()">
    <fieldset>
      <legend>{{action}} task form</legend>

      <div class="form-group">
        <label>Description</label>
        <textarea ng-model="task.description"></textarea>
      </div>

      <div class="actions">
        <label></label>
        <button>{{action}} task</button>
      </div>
    </fieldset>
  </form>
<section>
